fastapi==0.135.1
uvicorn[standard]==0.42.0
sqlalchemy==2.0.48
alembic==1.18.4
psycopg2-binary==2.9.10
pydantic==2.12.5
pydantic-settings==2.13.1
pandas==3.0.1
pandas-ta==0.4.71b0
python-multipart==0.0.22
APScheduler>=3.10
